<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12" style="min-height: 40vh">
    <h2>Registration is pending</h2>
    <p>Your registration is awaiting approval, as soon as the verification process is completed you will receive a welcome email</p>
    </div>
  </div>
</div>